<div class="card" *ngFor="let card of products">
    <div class="img-card-div">
        <img [src]="card.img" class="card-img">
    </div>
    <div class="text">
        <h2 class="card-name">{{ card.name }}</h2>
        <p class="card-description">{{ card.description }}</p>
        <p class="price">{{ card.price }} ₸</p>
        <p class="rating">Рейтинг {{ card.rating }}/5⭐</p>
        <a href="{{ card.kaspiLink }}" style="text-decoration: none; color: blue;">Подробнее</a>
        <div class="but-button" style="display: flex; gap: 5px;">
            <a href="https://wa.me/?text={{ card.link }}" target="_blank">
                <button class="buy">Whatsapp</button>
            </a>
        </div>
            <!-- кнопка наша через которы роутинг -->
        <a [routerLink]="['/product-detail', card]">
            <button class="info-button">Info</button>
        </a>
    </div>
</div>
